*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
header{
    height: 100vh;
    background-image: linear-gradient(to top, #000062 0%, #8989ff 100%);/* url("https://images.unsplash.com/photo-1640622307978-1e64263442a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw0MHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
::root{
    scroll-behavior: smooth;
}
.head{
    text-align: center;
    padding: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

.menu0{
    position: fixed;
   /* z-index: 10;*/
    top: 30px;
    right: 30px;
    background: #fcfeff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(78, 2, 255, 0.863);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background: linear-gradient(to bottom, #00003f 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*transition: transform .3s ease-in-out;*/
    transform: translate(110%);
    box-shadow: #1C1C1C;
}

.spread{
    transform: translate(0);
}

header:over.menu-navegacion{
 transform: translate(100%);
}

.menu-navegacion a{
    color: #fcfeff;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-size: 25px;
    font-weight: 300;
}


/*nuestro servicio*/

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: bisque;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;

}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: rgb(185, 159, 185);
}

.number{
    display: inline-block;
    background-color: #000058;
    width: 30px;
    height: 30px;
    color: aliceblue;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.gallery{
    background: #294452;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;  
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: #bea3a3;
    cursor: pointer;

}

.imagen-light{
    position: fixed;
    background-color: #0606a893;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
    
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
    
}

.show{
    transform: translate(0);
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    
}

/*footer*/
footer{
    background-image: linear-gradient(to top, #01015a 0%, #8989ff 100%);
    /*padding-bottom: 0.1px;*/
    border: 1px solid #f5f5f5;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fcfeff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}
/* iconos */
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fcfeff;
    border-radius: 50%;
    text-align: center;
    color: white;

}


.social-media-icon:hover{
    background: whitesmoke;
    color: #8989ff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

/*.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: blanchedalmond;
    margin-bottom: 60px;
}*/

@media screen and (max-width:800px) {
    .menu-navegacion{
        width: 50vw;

    }
    .titulo{
        font-size: 40px;
    }
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }
    .service{
        margin-bottom: 30px;
    }
    .agregar-imagen{
        width: 80%;
    }
    .img-galeria{
        width: 45%;
    }
    .cont-expert{
        width: 80%;
    }
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media-icon{
        margin-left: 0;
    }
    .social-media i{
        margin-left: 0;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

}

@media screen and (max-width:500px) {
    .menu-navegacion{
        width: 65vw;
    }
    .agregar-imagen{
        width: 95%;
    }
    .menu0{
        top: 20px;
        right: 20px;
    }
    .titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 30px;
    }
    .img-galeria{
        width: 95%;

    }
    .social-media{
        width: 100%;
    }
    .contact-us{
        width: 90%;
    }
}